.navbar-brand {
    font-family: Poppins;
    font-weight: bold;
    font-size: 28px;
    color: beige;
    padding-top: 8px;
    text-shadow: 0 0px 5px rgba(255, 255, 255, 0.3);
    margin-top: 0px;
    margin-left: 10px;
}

.navbar-brand span {
    color: rgb(94, 127, 209);
}

.navbar-toggler {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    padding: auto;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: -20px;

}

.offcanvas {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, .18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.nav-link {
    color: beige;
}

#offcanvasNavbarLabel {
    font-family: Poppins;
    font-weight: bold;
    font-size: 30px;
    color: beige;
}

#offcanvasNavbarLabel span {
    color: rgb(185, 206, 93);
}

.navbar-toggler:hover {
    transform: translateY(-2px);
}

.nav-link {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    text-align: start;
    padding-left: 50px;
    width: 100%;
    height: 50%;
    margin: 5px 0;
    margin-left: 10px;
    line-height: 50px;
    border-radius: 15px;
    transition: .1s;
    background: rgba(255, 255, 255, 0.1);

}

.nav-link {
    transition-delay: calc(.1s * var(--i));
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateX(4px);

}


.jumbotron {
    background-image: url(img/bg.jpg) !important;
    background-size: cover;
    height: 790px;
    border-radius: 0 0 30px 30px;
    border-image: fill 0 linear-gradient(rgba(255, 255, 255, 0), #04001f);
}


.container img {
    block-size: 150px;
    border-radius: 50%;
    margin: auto;
    margin-top: 100px;
    border-style: solid;
    border-color: rgb(155, 154, 154);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* filter: blur(5px); */
}

.container img:hover {
    filter: blur(5px);
}


.container {
    text-align: center;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px 0px 30px 30px;
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.display-4 {
    font-family: poppins;
    font-weight: bold;
    color: antiquewhite;
}

.display-5 {
    font-family: poppins;
    font-weight: bold;
    color: beige;
}

.display-4 span {
    color: rgb(181, 71, 71);

}

.display-3 {
    color: bisque;
    font-size: large;
    margin-top: 30px;
}

.container p {
    color: rgb(75, 43, 2);
}

.d-flex .p-2 {
    margin: auto;
    margin-top: -120px;
    background-color: rgba(255, 255, 255, 0);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0px 0px 30px 30px; */
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 3px 15px rgba(13, 13, 13, 0.6);
}

.d-flex .p-2:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
}

.bx {
    margin-left: 14px;
    margin-top: 30%;
}

.jumbotronAbout {
    /* background-image: url(img/bg.2.jpg) !important; */
    background-size: cover;
    background-color: #04001f;
    height: 720px;
    margin-top: -17px;
    display: grid;
    justify-content: center;
    border-image: fill 0 linear-gradient(rgba(255, 255, 255, 0), #080808);
}

.containerAbout {
    height: 80px;
    width: 300px;
}

.containerAbout h1 {
    font-family: bebas neue;
    font-size: 170px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.1);
    text-shadow: 0 0px 45px rgba(0, 0, 0, 0.3);
    margin-left: -20px;
}


.cardContainer {
    height: 500px;
    margin-top: -10px;
    border-radius: 50px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.cardContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 11 calc(33.333%-1rem);
    overflow: hidden;
}

.card {
    position: relative;
    margin: auto;
    margin-top: 90px;
    width: 250px;
    height: 150px;
    border-radius: 40px;
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(10px);
    background: linear-gradient(180deg, rgb(1, 0, 21), #04001f);
    border: rgb(3, 3, 3);
    /* border-image: fill 0 linear-gradient(rgba(255, 255, 255, 0), #04001f); */
    overflow: hidden;
}

.card:not(:first-child) {
    margin-top: -35%;
    width: 250px;
    height: 150px;

}

.card:not(:first-child):hover {
    margin-top: -40%;
}

.card:hover {
    transform: translateY(-70px);
    width: 250px;
    height: 400px;
    transition: all .5s;

}

.card:hover~.card {
    bottom: -50px;
}

.content {
    display: grid;
    justify-content: center;
    margin: auto;
}

.content img {
    position: relative;
    block-size: 250px;
    margin-top: -150px;
    border-radius: 30px;
    z-index: -1;
    filter: opacity(.5);
}

.content h4 {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    padding-top: 10px;
}

.content p {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    filter: opacity(.0);
}

.content p:hover {
    filter: opacity(.5);
    transition: 1s;
}

.content img:hover {
    transition: 1s;
}

.containerFooter {
    height: 80px;
    margin-top: -10px;
    border-radius: 50px;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


/* DEKSTOP VERSION */
@media (min-width: 992px) {
    .navbar-brand {
        padding-left: 10px;
        font-size: 35px;
        margin: 0;
        margin-left: 100px;
        margin-right: 20px;
        margin-top: 10px;
    }

    .container-fluid .container {
        background: none;
        box-shadow: none;
        border: none;
        height: 0;
        margin-left: 50px;
        margin-right: 20px;
        margin-top: -60px;
        width: fit-content;
    }

    .offcanvas {
        margin-right: 80px;
        margin-top: -40px;
    }

    .navbar-nav {
        margin-right: 50px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #252022;
        width: 50%;
        margin: auto;
        margin-bottom: -3px;
    }

    .nav-link:hover {
        background: none;
        transform: translateX(4px);
    }

    .nav-link {
        background: none;
    }

    .jumbotron .container img {
        margin-left: 950px;
        margin-top: 250px;
        block-size: 300px;
    }

    .display-3 {
        margin-top: -250px;
    }

    .display-5 {
        font-size: 70px;
        padding-bottom: 10px;
    }

    p {
        padding-bottom: 25px;
    }

    .container {
        text-align: start;
    }

    .jumbotron {
        background-size: cover;
        height: 800px;
    }

    .d-flex .p-2 {
        margin: 0%;
        margin-top: -180px;
        margin-left: 110px;
    }

    .containerAbout {
        height: 100px;
        width: 1300px;
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
    }

}